/* crossiant style */


/* Entire Document */
html{
    
    /* Hide Any Overflow */
    overflow-x: hidden;

    /* Prevent Highlighting */
    user-select: none;
    -webkit-user-select: none;

    /* Force Cursor */
    cursor: default;
}


/* Device Mode Themes*/
:root {
    color-scheme: light dark;
}

/* Light Mode */
@media (prefers-color-scheme: light) {
    :root {
        /* Font & Text */
        --color: #0b0b0b;
        --color2: red;

        /* Background */
        --background: #ffffff;
        --background2: #eeeeee;
        --backgroundCode: rgb(246, 248, 250);

        /* Shadow */
        --shadow: rgba(0,0,0,0.5);
    }
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
    :root {
        /* Font & Text */
        --color: #ffffff;
        --color2: gold;
        
        /* Background */
        --background: #0b0b0b;
        --background2: #1b1b1b;
        --backgroundCode: rgb(48, 49, 51);

        /* Shadow */
        --shadow: rgba(0,0,0,0.1);
    }
}

/* Mobile */
@media only screen and (width: 414px) {
    
    .button-container{

        /* Positions */
        position: absolute;
        bottom: 0px;
        left: 0px;
    
        /* Dimensions */
        height: 200px;
        width: 100vw;
        
    }
    
}


/* Desktop */
/* Body */
body{

    /* Margins & Padding */
    margin:0;
    padding:0;

    /* Background */
    background-color: var(--background);
    
    /* Font & Text */
    color: var(--color);
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 300;

}


/* Main View Element */
.croissant{

    /* Dimensions */
    height: 200px;
    width: 200px;

    /* Margins & Padding */
    margin-top:40vh;
    margin-left: auto;
    margin-right: auto;

    /* Background */
    background-image: url('./croissant.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}


/* Script Container */
.drawer{

    /* Position */
    position: relative;

    /* Dimensions */
    height: auto;
    width: 100vw;

    /* Margin & Padding */
    margin-top:40vh;
    padding-bottom: 50px;

    /* Background */
    background-color: var(--background2);

    /* Shadow */
    box-shadow: inset 0px 0px 5px 0px var(--shadow);
    
}


/* Download Buttons */
.dl-button{

    /* Dimensions */
    height: 50px;
    width: 200px;

    /* Margins & Padding */
    margin-top: 7.5vh;
    margin-left: auto;
    margin-right: auto;

    /* Display */
    display: block;
    
    /* Background */
    background-color: #007BFF;
    border-radius:5px;
    cursor:pointer;

    /* Font & Text */
    color:#ffffff;
    font-size:20px;
    font-weight: 200;
    text-decoration:none;
    line-height: 50px;
    text-align: center;

    /* Animation */
    -webkit-transition: background-color 1.0s;
    transition: background-color 1.0s;

}


.dl-button:hover{

    /* Background */
    background-color: #0069D9;

    /* Animation */
    -webkit-transition: background-color 0.5s;
    transition: background-color 0.5s;

}


/* Text Elements */
.title{

    /* Margins & Padding */
    padding-top: 10px;

    /* Font & Text */
    font-size: 50px;
    font-weight: 100;

}


.subtitle{

    /* Font & Text */
    font-size: 25px;
    font-weight: 300;

}


.title, .subtitle{

    /* Margins & Padding */
    margin-left: 20px;

}


.script-container{

    /* Position */
    position: relative;

    /* Dimenstions */
    min-height: 20vh;
    max-height: fit-content;
    width: 85vw;

    /* Margins & Padding */
    margin-left: auto;
    margin-bottom: 30px;
    margin-right: auto;

    /* Background */
    background-color: var(--background);
    
    /* Borders */
    border: 1px solid var(--background);
    border-radius: 10px;

}


.script-container .subtitle{

    /* Margins & Padding */
    margin-top: 15px;
    margin-left: 20px;

    /* Font & Text */
    font-weight: 600;

}


.description{

    /* Dimensions */
    height:60%;
    width:54vw;

    /* Margins & Padding */
    margin-top: 15px;
    margin-left: 20px;
    padding-bottom: 15px;
    
    /* Font & Text */
    word-wrap: normal;
    
}


.button-container{

    /* Positions */
    position: absolute;
    top: 0px;
    right: 0px;

    /* Dimensions */
    height: 100%;
    width: 30vw;
    
}

.heading{

    /* Dimensions */
    width: 200px;

    /* Margins & Padding */
    margin-top: 70px;
    margin-bottom: 0px;
    margin-left: 8vw;

    /* Borders */
    border-bottom: 1.2px solid var(--color2);

    /* Font & Text */
    font-size: 30px;
    font-weight: 100;
    line-height: 40px;

}

.section-description{
    /* Dimensions */
    width: 50vw;

    /* Margins & Padding */
    margin-top: 15px;
    margin-bottom: 35px;
    margin-left: 8vw;
}


.snippet-container{
    margin-top: 10px;
    margin-bottom: 35px;
}


.snippet-description{
    /* Dimensions */
    width: 85vw;

    /* Margins & Padding */
    margin-left: auto;
    margin-bottom:5px;
    margin-right: auto;
    padding-left: 7px;

    /* Font & Text */
    font-weight: bold;
}


.snippet-code{

    /* Position */
    position: relative;

    /* Dimensions */
    min-height: 42px;
    max-height: fit-content;
    width: 83vw;

    /* Margins & Padding */
    margin-left: auto;
    margin-bottom: 20px;
    margin-right: auto;
    padding-left: 20px;

    /* Background */
    background-color: var(--backgroundCode);
    
    /* Borders */
    border: 1px solid var(--backgroundCode);
    border-radius: 5px;

    /* Font & Text */
    font-family: monospace;
    line-height: 42px;
    font-size: 15px;
    font-weight: 100;

    cursor:text;
    user-select: text;
    -webkit-user-select: text;
}

.debug-bar{
    background-color: var(--color2);
}

/* Footer */
footer, .debug-bar{

    /* Dimenstions */
    height: 50px;
    width: 100vw;

    /* Font & Text */
    line-height: 50px;
    font-size: 18px;
    font-weight: 100;
    text-align: right;
    
}
